<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <table>
        <tr th:object="${customer}">
            <td><input th:field="*{id}"></td>

            <td><input th:field="*{name}"></td>
            <td><input th:field="*{age}"></td>
            <td><img th:src="@{'/upload/'+${customer.img}}" width="200px" height="100px"></td>
            <td><input th:field="*{img}" hidden></td>
            <td><input type="file" name="upFileImg"></td>
            <td><input type="date" th:field="*{date}"></td>
            <td>
                <button type="submit">Edit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>